/IntelRDFPMathLib20U2/*
!/IntelRDFPMathLib20U2/.gitkeep

/speleotrove-dectest/*
!/speleotrove-dectest/.gitkeep

/Hossam-Fahmy-tests/*
!/Hossam-Fahmy-tests/.gitkeep

/Oh-my-decimal-tests/*
!/Oh-my-decimal-tests/.gitkeep
